html,
body {

    background-color: #fff;

}

// 头部
header {

    position: fixed;
    width: 100%;
    height: calc(60rem / 32);
    background-color: #ffffff;

    .button {

        position: absolute;
        display: block;
        height: 100%;
        left: calc(15rem / 32);

        .menu {

            height: calc(50rem / 32);
            font-size: calc(24rem / 32);
            line-height: calc(60rem / 32);
        }

        #close {

            position: absolute;
            display: none;
            top: calc(8rem / 32);
            left: calc(-3rem / 32);
            font-size: calc(30rem / 32);
            font-weight: 300;
        }

        .search-btn {

            position: absolute;
            display: inline-block;
            width: calc(21rem / 32);
            height: calc(21rem / 32);
            background-image: url(../images/serach.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            left: calc(50rem / 32);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .header-logo {

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(50rem / 32);
        height: calc(50rem / 32);
        background-image: url(../images/header-logo.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .login {

        float: right;
        line-height: calc(60rem / 32);
        margin-right: calc(20rem / 32);
        font-size: calc(16rem / 32);
        color: #157dd2;
    }
}

// 菜单列表
.menu-list {

    width: 100%;
    height: 100%;

    ul {

        width: 100%;
        height: 100%;
        padding-top: 30%;

        li {

            width: 100%;
            font-size: calc(16rem / 32);
            line-height: calc(48rem / 32);

            i {

                margin-left: calc(32rem / 32);
                margin-right: calc(50rem / 32);
                font-size: calc(32rem / 32);
                line-height: calc(48rem / 32);
                vertical-align: bottom;
                color: #858585;
            }

            i:last-child {

                margin: 0;
                float: right;
                font-size: calc(10rem / 32);
                padding-right: calc(20rem / 32);
            }
        }
    }
}

// banner区域
.banner {

    height: calc(416.16rem / 32);
    padding-top: calc(60rem / 32);

    a {

        display: block;
        width: 100%;
        height: 100%;

        img {

            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

// 功能介绍
.func {

    width: 100%;
    background-color: #1f1f1f;
    padding-top: calc(14rem / 32);
    padding-bottom: calc(14rem / 32);
    padding-left: calc(15rem / 32);
    padding-right: calc(15rem / 32);

    ul {

        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        justify-content: center;

        li {

            width: calc(95.99rem / 32);
            height: calc(87.46rem / 32);
            margin-top: calc(5rem / 32);
            margin-bottom: calc(5rem / 32);
            padding-left: calc(5rem / 32);
            padding-right: calc(5rem / 32);

            a {

                display: block;
                width: 100%;
                height: 100%;
                background-color: #fff;
                border-radius: 3px;

                &:hover {

                    background-color: #00a2ff;
                }

                img {

                    display: block;
                    width: 100%;
                    height: calc(50.66rem / 32);
                    border-radius: 3px;
                }

                p {

                    text-align: center;
                    padding: calc(10rem / 32) 0;
                    color: #1f1f1f;
                }
            }
        }
    }
}

// ps4介绍1
.ps4-list1 {

    width: 100%;
    height: calc(778.11rem / 32);
    padding-top: calc(54rem / 32);
    padding-bottom: calc(54rem / 32);
    padding-left: calc(15rem / 32);
    padding-right: calc(15rem / 32);

    h2 {

        font-size: calc(28rem / 32);
        margin-top: calc(15rem / 32);
        margin-bottom: calc(15rem / 32);
        padding-left: calc(15rem / 32);
        padding-right: calc(15rem / 32);
        text-align: center;

        span {

            font-weight: 300;
        }
    }

    .ps4-list1-img {

        width: 100%;
        height: calc(241.51rem / 32);
        margin-top: calc(15rem / 32);
        margin-bottom: calc(15rem / 32);
        // padding-left: calc(15rem / 32);
        // padding-right: calc(15rem / 32);

        img {

            width: 100%;
            height: 100%;
        }
    }

    .ps4-list1-content {

        width: 100%;
        height: calc(255.4rem / 32);
        margin-top: calc(15rem / 32);
        margin-bottom: calc(15rem / 32);
        // padding-left: calc(15rem / 32);
        // padding-right: calc(15rem / 32);

        p {

            font-size: calc(14rem / 32);
        }

        p:nth-child(2),
        p:nth-child(3) {

            margin-top: calc(20rem / 32);
        }
    }

    .ps4-list1-more {

        width: 100%;
        height: calc(47.8rem / 32);

        a {

            display: block;
            width: calc(203rem / 32);
            height: 100%;
            background-color: #0068bf;
            text-align: center;
            line-height: calc(47.8rem / 32);
            color: #fff;
            font-size: calc(14rem / 32);
            margin: 0 auto;
        }
    }
}

// ps4介绍2
.ps4-list2 {

    width: 100%;
    height: calc(764.11rem / 32);
    padding-top: calc(54rem / 32);
    padding-bottom: calc(54rem / 32);
    padding-left: calc(15rem / 32);
    padding-right: calc(15rem / 32);
    background-image: url(../uploads/pc_PS4TOP_05_02_170904_PS4PRO.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;

    h2 {

        font-size: 28px;
        text-align: center;
        color: #fff;
        line-height: 1.5;

        span {

            font-weight: 300;
            margin-top: calc(15rem / 32);
            margin-bottom: calc(15rem / 32);
        }
    }

    .ps4-list2-img {

        width: 100%;
        height: calc(241.51rem / 32);
        margin-top: calc(15rem / 32);
        margin-bottom: calc(15rem / 32);

        img {

            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .ps4-list2-more {

        margin-top: calc(15rem / 32);
        margin-bottom: calc(15rem / 32);

        p {

            font-size: calc(14rem / 32);
            line-height: 1.5;
            color: #fff;
            margin-top: calc(30rem / 32);
            margin-bottom: calc(20rem / 32);

            sub {

                font-size: calc(10rem / 32);
                margin-top: calc(20rem / 32);
            }
        }

        div {

            width: 100%;
            height: calc(71.8rem / 32);
            padding-top: calc(15rem / 32);

            a {

                display: block;
                width: calc(203rem / 32);
                height: calc(47.8rem / 32);
                text-align: center;
                background-color: #0068bf;
                text-align: center;
                line-height: calc(47.8rem / 32);
                margin: 0 auto;
                color: #fff;
            }
        }
    }
}

// ps4游戏
.ps4-game {

    padding-top: calc(54rem / 32);
    padding-bottom: calc(54rem / 32);
    padding-left: calc(15rem / 32);
    padding-right: calc(15rem / 32);

    h2 {

        font-size: 28px;
        text-align: center;
    }

    .ps4-game-list {

        margin-top: calc(15rem / 32);
        margin-bottom: calc(15rem / 32);

        img {

            height: calc(163.13rem / 32);
            width: 100%;
            margin-top: calc(32rem / 32)
        }

        h6 {

            margin-top: 1em;
            font-size: 14px;
            font-weight: 300;
        }

        div {

            width: 100%;
            height: calc(71.8rem / 32);
            padding-top: 2em;

            a {

                display: block;
                width: calc(203rem / 32);
                height: calc(47.8rem / 32);
                background-color: #0068bf;
                text-align: center;
                color: #fff;
                line-height: calc(47.8rem / 32);
                margin: 0 auto;
            }
        }
    }
}

// ps4播放
.ps4-player {

    width: 100%;
    height: calc(561rem / 32);
    padding-top: calc(54rem / 32);
    padding-bottom: calc(54rem / 32);
    padding-left: calc(15rem / 32);
    padding-right: calc(15rem / 32);
    background-image: url(../uploads/ps4-top-article12-bg-20170224.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 20%;

    h2 {

        font-size: 28px;
        text-align: center;
        line-height: 1.5;
        color: #fff;
        margin-top: 2em;
        margin-bottom: 2em;

        span {

            font-weight: 300;
        }
    }

    .ps4-player-text {

        width: 100%;
        height: calc(255.8rem / 32);
        margin-top: 2em;
        margin-bottom: 2em;
        padding-top: 4em;
        padding-bottom: 2em;

        div {

            width: 100%;
            height: calc(194.8rem / 32);
            padding: 1em;
            background-color: rgba(31, 31, 31, 0.8);
            color: #fff;

            p {

                margin-top: 1em;
                font-size: calc(14rem / 32);
                font-weight: 300;
            }

            p:first-child {

                margin-top: 0;
            }
        }
    }
}

// 产品系列
.product {

    padding-top: calc(54rem / 32);
    padding-bottom: calc(54rem / 32);
    padding-left: calc(15rem / 32);
    padding-right: calc(15rem / 32);

    .product-title {

        width: 100%;
        height: calc(71.6rem / 32);

        h2 {

            font-size: 28px;
            line-height: calc(71.6rem / 32);
            text-align: center;
        }
    }

    .product-list {

        margin-top: 15px;
        margin-bottom: 15px;
        height: calc(354.7rem / 32);

        .product-list-img {

            width: 100%;
            height: calc(181.5rem / 32);
            padding: calc(20rem / 32);
            border: 1px solid #ccc;

            img {

                width: 100%;
                height: 100%;
            }
        }

        h6 {

            font-size: 14px;
            font-weight: 700;
            line-height: 1.5;
            margin-top: calc(20rem / 32);
            margin-bottom: 0;
        }

        p {

            font-size: 12px;
        }

        .product-list-more {

            width: 100%;
            padding-top: 1em;

            a {

                display: block;
                width: calc(203rem / 32);
                height: calc(47.8rem / 32);
                background-color: #0068bf;
                color: #fff;
                font-size: calc(14rem / 32);
                text-align: center;
                line-height: calc(47.8rem / 32);
                margin: 0 auto;
            }
        }
    }

}

// 新闻部分
.news {

    padding-top: calc(54rem / 32);
    padding-bottom: calc(54rem / 32);
    padding-left: calc(15rem / 32);
    padding-right: calc(15rem / 32);

    .news-title {

        width: 100%;
        border-bottom: 2px solid #1f1f1f;

        h3 {

            float: left;
            font-size: 16px;
        }

        a {

            display: block;
            float: right;

            i {

                vertical-align: middle;
            }
        }
    }

    ul {

        width: 100%;

        li {

            width: 100%;
            padding: calc(16rem / 32) 0;
            border-bottom: 1px dotted #1f1f1f;

            div {

                float: left;
            }

            p {

                font-size: calc(12rem / 32);
                color: #9c9c9c;
            }

            i {

                display: block;
                float: right;
                color: #00a2ff;
            }
        }
    }
}

// 信息部分
.info {

    width: 100%;
    padding: calc(14rem / 32) calc(15rem / 32);
    background-color: #003791;
    color: #fff;

    .xilie,
    .xiaoxi {

        float: left;
        width: calc(130rem / 32);
    }

    .server,
    .sput {

        float: right;
        width: calc(130rem / 32);
    }

    h6 {

        font-size: 14px;
        margin-bottom: calc(10rem / 32);
    }

    p {

        font-weight: 300;
    }

    .top {

        margin-bottom: calc(20rem / 32);
    }


}

// footer部分
footer {

    width: 100%;
    height: calc(36rem / 32);
    background-color: #000000;

    a {

        display: block;
        float: right;
        width: calc(75rem / 32);
        height: 100%;
        background-image: url(../images/sony_logo.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 calc(8rem / 32);
    }
}